@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background-color: rgb(212, 208, 208);
}
button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.title, .startMessage, .game{
    text-align: center;
}
.readyButton{
    height: 8vh;
    width: 18vw;
    min-width: fit-content;

}
.game{
    display:none;
}

.choiseContainer{
    margin: auto;
    width: 60%;
    display: flex;
    justify-content: space-around;
}
.pointsContainer{
    margin: auto;
    font-size: 115%;
    width: 60%;
    display: flex;
    justify-content: space-around;
}
.resultsContainer{
    margin: auto;
    width: 60%;
    display: flex;
    justify-content: space-around;
}
.playerChoise{
    font-size: 2em;
    height: 15vh;
    width: 10vw;
    min-width: fit-content;

}
.handImages{
    width: 14vw;
    height: auto;
}
.results{
    font-size: large;
    font-weight: bolder;
}
.finalResult{
    color: red;
    margin-bottom: 0;

}
.finalResult2{
    margin: 1px;

}
.restartButton{
    height: 8vh;
    width: 18vw;
    margin-top: 1vh;
 
}

.rulesContainer{
    display:none;
}

.rules{
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 0.5%;
    border: solid black 1px;
}
.rules:hover{
    background-color: white;
    content: url(./images/simple-rules.png);
    display: block;
    width: 50%;
    height: auto;
}

.finalGif{
    width: 20vw;
    height: auto;
}